* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
}

:root {
  --text-color: black;
  --background-color-orange: #ed6a5a;
}

body {
  background-color: #e6ebe0;
}

.header {
  padding: 10px;
  padding-left: 0px;
  background-color: var(--background-color-orange);
  @media screen and (min-width 768px);
  position: relative;
  z-index: -1px;
}

.header h1 {
  padding-left: 30px;
  padding-right: 5px;
  margin-left: 0px;
  color: var(--text-color);
  display: inline-block;
  font-size: 30px;
  background-color: #f4f1bb;
}

.header div {
  float: right;
  font-size: 20px;
  position: relative;
  z-index: -1px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
  color: var (--text-color);
}

a {
  margin: 5px;
  padding-bottom: 50px;
  border-bottom-style: 50px;
  color: var(--text-color);
  text-decoration: underline;
  text-underline-position: below;
  text-decoration-color: black;
}

a:hover {
  color: #f4f1bb;
  cursor: grab;
}

p {
  font-size: 16px;
  color: var(--text-color);
}

.headerimage {
  background-image: url("./Assets/khyati-gandhi-hero.png");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 30px;
  padding: 10px 5px 5px 10px;
  background-color: var(--background-color-orange);
  font-size: 30px;
  font-weight: lighter;
}

.float-right {
  float: right;
  margin-left: 25px;
}

H2 {
  color: var(--text-color);
  text-align: right;
}
.column-about-me {
  float: left;
  padding: 10px;
  height: 150px;
}

.left {
  width: 25%;
}

.right {
  margin-top: 10px;
  display: inline;
  padding-right: 35px;
  width: 75%;
  flex-wrap: wrap;
  text-align: justify;
}

.column-work {
  float: left;
  padding: 10px;
  height: fit-content;
}

.left {
  width: 25%;
}

.right {
  margin-top: 10px;
  display: inline;
  padding-right: 35px;
  width: 75%;
  flex-wrap: wrap;
}

.workimage1 {
  background-image: url("https://image-placeholder.com/images/actual-size/640x200.png");
  display: flex;
  flex-wrap: wrap;
}

.vl {
  border-left: 2px solid black;
  height: 200px;
  position: absolute;
  left: 26%;
  margin-top: 45px;
  margin-left: -3px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 20px;
}
